/* Top level CSS */
body {
padding: 0;
margin: 0;
}

html, body, #map {
height: 100%;
}
	
/* Leaflet popups */

.leaflet-popup-content {
margin: 0px 0px;
}

.leaflet-popup-content-wrapper {
max-height: 350px;
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
margin-top: 30px;
padding: 0px;
border-radius: 4px;
}

.leaflet-popup-close-button {
display: none;
}

/* Custom popup regions */
.popuptitle {
margin: 5px;
text-align: center;
}

.popupbody {
margin: 5px;
}

.popupbody p {
font-size: 16px;
}

.popupbody h3 {
margin-top: 10px;
}

.popupbody .btn {
width: 100%;
}


/* Youtube videos */
.popupbody .media-youtube-player {
width:290px !important;
height:175px !important;
}

/* Vimeo Videos */
.popupbody .media-vimeo-player {
width:290px !important;
height:175px !important;
}

/* Markers */
.leaflet-tagged-marker i {
font-size: 35px;
padding-top: 4px;
}